Repository Bentheburrito/sacastats, pull requests merged in 2022-05, with the labels that each got.

#57 New Event Tracker and Session Logic
  config/config.exs
  lib/sacastats.ex
  lib/sacastats/application.ex
  lib/sacastats/event_handler.ex
  lib/sacastats/event_tracker.ex
  lib/sacastats/schemas/character_session.ex
  lib/sacastats/schemas/events.ex
  lib/sacastats/schemas/events/battle_rank_up.ex
  lib/sacastats/schemas/events/continent_lock.ex
  lib/sacastats/schemas/events/continent_unlock.ex
  lib/sacastats/schemas/events/death.ex
  lib/sacastats/schemas/events/gain_experience.ex
  lib/sacastats/schemas/events/metagame_event.ex
  lib/sacastats/schemas/events/player_facility_capture.ex
  lib/sacastats/schemas/events/player_facility_defend.ex
  lib/sacastats/schemas/events/player_login.ex
  lib/sacastats/schemas/events/player_logout.ex
  lib/sacastats/schemas/events/vehicle_destroy.ex
  lib/sacastats/schemas/session.ex
  lib/sacastats/session_tracker.ex
  lib/sacastats/utils/utils.ex
  lib/sacastats_web/controllers/character_controller.ex
  lib/sacastats_web/router.ex
  lib/sacastats_web/templates/character/session.html.heex
  lib/sacastats_web/templates/character/sessions.html.heex
  lib/sacastats_web/templates/character/template.html.heex
  lib/sacastats_web/views/character_view.ex
  priv/repo/migrations/20211126012108_character_sessions.exs
  priv/repo/migrations/20220331034901_add_initial_events.exs
Labels: enhancement

#61 Weapon table 2.5
  lib/sacastats_web/templates/character/weapons.html.heex
  lib/sacastats_web/templates/layout/root.html.heex
  priv/static/css/app.css
  priv/static/css/character/weapons.css
  priv/static/css/flex-bootstrap-table-filter.css
  priv/static/css/flex-bootstrap-table-selection.css
  priv/static/css/flex-bootstrap-table.css
  priv/static/css/styles.css
  priv/static/js/character/weapons-table.js
  priv/static/js/flex-bootstrap-table-filter.js
  priv/static/js/flex-bootstrap-table-selection.js
  priv/static/js/flex-bootstrap-table.js
  priv/static/js/formats.js
Labels: improvement, styling/css

#67 Character Endpoint Spelling Correction
  lib/sacastats_web/templates/layout/root.html.heex
Labels: improvement

#66 Accent color
  lib/sacastats_web/templates/character/weapons.html.heex
  lib/sacastats_web/templates/layout/root.html.heex
  priv/static/css/app.css
  priv/static/css/bootstrap-input.css
  priv/static/css/bootstrap-override.css
Labels: styling/css

#65 Removed unneeded margin from #characterGeneral
  priv/static/css/character/general.css
Labels: improvement, styling/css

#64 Fixed nav stuttering and other nav styling issues
  lib/sacastats_web/templates/character/template.html.heex
  lib/sacastats_web/templates/layout/root.html.heex
  priv/static/css/navbar-events.css
  priv/static/css/styles.css
Labels: bug, styling/css

#72 Navbar fix 2
  lib/sacastats_web/templates/layout/root.html.heex
Labels: bug, styling/css

#69 Character Controller cleanup
  lib/sacastats.ex
  lib/sacastats/application.ex
  lib/sacastats/census_cache/fallbacks.ex
  lib/sacastats_web/controllers/character_controller.ex
  lib/sacastats_web/router.ex
  lib/sacastats_web/templates/character/general.html.heex
  lib/sacastats_web/templates/character/session.html.heex
  lib/sacastats_web/templates/character/sessions.html.heex
  lib/sacastats_web/templates/character/template.html.heex
  lib/sacastats_web/templates/character/weapons.html.heex
  lib/sacastats_web/templates/poll/create_form.html.heex
  lib/sacastats_web/views/character_view.ex
Labels: improvement

#70 Dynamic Site Title
  lib/sacastats_web.ex
  lib/sacastats_web/templates/layout/root.html.heex
Labels: improvement

#73 Discord Account styles
  lib/sacastats_web/controllers/page_controller.ex
  lib/sacastats_web/router.ex
  lib/sacastats_web/templates/layout/root.html.heex
  lib/sacastats_web/templates/page/account.html.heex
  lib/sacastats_web/templates/page/login.html.heex
  priv/static/css/account.css
  priv/static/css/bootstrap-override.css
  priv/static/css/character/template.css
  priv/static/css/login.css
  priv/static/css/navbar-events.css
  priv/static/css/styles.css
  priv/static/images/user/defaultUserProfilePicture.png
Labels: styling/css

#75 Weapon table v2.6
  lib/sacastats_web/controllers/character_controller.ex
  lib/sacastats_web/templates/character/weapons.html.heex
  priv/static/css/character/weapons.css
  priv/static/css/flex-bootstrap-table-selection.css
  priv/static/css/flex-bootstrap-table.css
  priv/static/js/flex-bootstrap-table.js
Labels: improvement

#77 Fixed subnavbar styles
  lib/sacastats_web/templates/character/template.html.heex
  priv/static/css/navbar-events.css
Labels: bug, styling/css
